---
import Layout from '../layouts/Layout.astro';
import Timetable from "../components/Timetable"
import { db } from '../firebase/server';

const activitiesRef = db.collection("activity")

const userActivities = (await activitiesRef.where("uid", "==", Astro.locals.user.uid).get()).docs.map(doc => ({id: doc.id, ...doc.data()}))
---

<Layout title="Home">
	<main class="text-2xl">
    	<h1 class="text-4xl font-bold text-pink-50 border-b border-pink-50 pb-4 max-w-lg mx-auto">My Schedule</h1>

		<Timetable client:idle initialActivities={userActivities} />
	</main>
</Layout>